.about-section {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.div-about {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-heading {
  font-weight: 600 !important;
  color: var(--text) !important;
}

.about-lead-text {
  color: var(--text);
  margin-bottom: 1.5rem;
}

.about-strong-text {
  font-weight: 600;
  color: var(--mid);
}

.globe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
}
