.hero-section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  perspective: "1000px";
  transition: "transform 0.1s ease-out";
}

.cta-links {
  display: flex;
}

.cta-btn-1 {
  color: var(--text) !important;
  background-color: var(--mid) !important;
}

.cta-btn-1:hover {
  color: var(--mid) !important;
  background-color: var(--bg) !important;
  border: 1px solid var(--mid) !important;
}

.cta-btn-2 {
  color: var(--mid) !important;
  border: 1px solid var(--mid) !important;
}

.cta-btn-2:hover {
  color: var(--text) !important;
  background-color: var(--mid) !important;
}
