.hero-section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.hero-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  perspective: 1000px;
  transition: transform 0.1s ease-out;
}

.hero-heading {
  color: var(--text) !important;
  font-weight: 600 !important;
}

.hero-lead-text {
  color: var(--text) !important;
}

.cta-links {
  display: flex;
}

.cta-btn-1 {
  color: var(--text) !important;
  background-color: var(--secondary) !important;
}

.cta-btn-1:hover {
  color: var(--mid) !important;
  background-color: var(--bg) !important;
  border: 1px solid var(--secondary) !important;
}

.cta-btn-2 {
  color: var(--mid) !important;
  border: 1px solid var(--secondary) !important;
}

.cta-btn-2:hover {
  color: var(--text) !important;
  background-color: var(--secondary) !important;
}
