.projects-section {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.projects-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-heading {
  text-align: center;
  font-weight: 600 !important;
  color: var(--text) !important;
  margin-bottom: 1rem;
}

.project-row {
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.project-card {
  margin: 5px;
  position: relative;
  border: 1px solid var(--light) !important;
  background: rgba(255, 255, 255, 0.03) !important;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border-radius: 12px !important;
}

.project-card::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10px;
  right: 10px;
  height: 12px;
  background: var(--secondary);
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: -1;
}

.project-card:hover {
  transform: translateY(-15px);
  box-shadow: rgba(221, 255, 128, 0.35) 0px -50px 36px -28px inset;
}

.project-card:hover::after {
  opacity: 1;
  transform: translateY(15px);
}

.project-title {
  text-align: center;
  color: var(--text) !important;
}

.project-title-text {
  text-align: center;
  color: var(--text);
}

.project-bullets {
  list-style: none;
  text-align: center;
  color: var(--text);
  padding: 0;
}
