:root {
  --bg: #040d12;
  --dark: #183d3d;
  --mid: #5c8374;
  --light: #93b1a6;
  --text: #ffffff;
  --primary: #5c8374;
  --secondary: #93b1a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
