:root {
  --bg: #040d12;
  --dark: #556b2f;
  --mid: #8b9c2b;
  --light: #c6d870;
  --text: #ffffff;
  --text-dark: #000000,
  --primary: #eff5d2;
  --secondary: #8fa31e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

